<div class="d-flex justify-content-between align-items-center">
    <h2>{{ title }}</h2>
    <a href="{% url 'user:subscription_upgrade' %}" class="text-decoration-none">
        <div class="p-2 mb-3 bg-light border rounded">
            {% if user.subscription and user.subscription.plan != '1' %}
                <span class="text-primary">{{ user.subscription.plan.name }}</span> /
                <span class="text-danger">{{ user.subscription.duration_days }}</span> - 
                <span class="text-danger">{{ user.subscription.remaining_days }} Days Remaining</span>
            {% else %}
                <span class="text-primary">Basic</span> /
                <span class="text-danger">Free</span>
            {% endif %}
        </div>
    </a>
</div>
