{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Techexchange Admin Portal') }}{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'img/core-img/favicon.png' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" height="30px" style="vertical-align: middle; margin-right: 10px;">
        <span style="color: white !important;">Administration</span>
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
<script>
    function openInvoicePopup(id) {
        const url = `/admin/customer/paymentrecord/send-invoice/${id}/`;
        const popup = window.open(url, "Send Invoice", "width=600,height=600");
    }
</script>
{% endblock %}